.footer {
  padding: 2em 1em 6em;
  background: linear-gradient(var(--gray-gradient));
  color: rgb(var(--gray));
  text-align: center;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.footer .social-links a {
  text-decoration: none;
  color: rgb(var(--gray));
}

.footer .social-links a:hover {
  color: rgb(var(--gray-dark));
}
