---
import './header.css'
import HeaderLink from './HeaderLink.astro'
---

<header class='header'>
	<nav>
    <img src="/public/icons/RuStore_Color_Logo.svg" alt="RuStore логотип" class="logo">
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
			<a href="https://m.webtoo.ls/@astro" target="_blank">
        <img src="/public/icons/user.svg" alt="RuStore логотип" class='icon'>
			</a>
	</nav>
</header>
